<html>
    <body>
        <img src="assets/Images/anup.jpg" alt="" width="150px" height="170px">
        <h2>Anup kumar Sharma</h2>
        <div class="details">
            <label id="ceo">Director | CEO | Founder</label>
        <br>
        <label id="edu">Education : B.Tech(IT)</label>
        <br>
        <a href="mailto:anupit3013@gmail.com">anupit3013@gmail.com</a>
        </div>
        <div class="address">
            <label id="head">Head Office :</label>
            <br>
            <label >Wakad , Pune</label><br>
            <label>Maharastra</label><br>
            <label>Pin : 411057</label>
        </div>
    </body>
</html>