body {
  background-image: url("/assets/Images/back1.jpg");
  background-position: center, top right, center center;
  background-repeat: repeat-y, no-repeat, repeat-x;
  background-attachment: fixed, scroll, fixed;
  background-size: cover;
  margin-top: -23px;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  padding-top: 90px;
}
.userName {
  max-width: 500px;
  margin-top: -75px;
  margin-left: 950px;
  float: right;
  font-style: italic;
  font-weight: bold;
}
.userName h3 {
  color: yellow;
}
.userName small {
  font-style: italic;

  color: yellow;
  font-size: 12px;
  float: right;
}
.user-request {
  background: #fff;
  color: black;
}

.req {
  cursor: pointer;
}
#reqbtn {
  outline: none;
}
#msearch {
  background: #fff;
}

.donate-left {
  text-align: center;
  color: #fff;
}
.donate-left .btn-primary {
  border-radius: 1.5rem;
  width: 80px;
  border: none;
  font-weight: 600;
  background: indigo;
  color: #fff;
  margin-top: 20px;
  padding: 10px;
}
.donate-left .btn-primary:hover {
  background: rgb(21, 114, 2);
  color: #fff;
}
.donate-right {
  border: none;
  background-image: linear-gradient(to right, #e1f50a, #87f562);
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
  padding: 30px;
  margin-bottom: 40px;
}

.donate-right h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #555;
}
.donate-form {
  padding: 20px;
}
::placeholder {
  text-align: center;
}

.donate-left img {
  margin-top: 80px;
  margin-bottom: 5px;
  width: 100px;
  animation: mover 1s infinite alternate;
  border-radius: 50%;
  border: 4px solid #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  background: #fff;
}
.donate-left h3 {
  color: rgb(42, 3, 182);
  font-weight: bolder;
}

::placeholder {
  text-align: center;
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50px);
  }
}

#mname {
  width: 330px;
  margin-left: -1px;
}
#power {
  width: 330px;
  margin-left: 350px;
  margin-top: -34px;
}
#quantity {
  width: 330px;
  margin-top: 5px;
}
#composition {
  width: 330px;
  margin-left: 350px;
  margin-top: -34px;
}
#expiryDate {
  width: 220px;
  margin-top: -32px;
  margin-left: 95px;
}
#uses {
  width: 330px;
  margin-left: 350px;
  margin-top: -49px;
}
#led {
  margin-top: 10px;
  margin-left: -10px;
}

.donate-right .btn {
  width: 300px;
  border-radius: 1.5rem;
  border: none;
  font-weight: 600;
  background: #ff9800;
  color: #fff;
  padding: 10px;
  margin-left: 190px;
  outline: none;
}
.donate-right .btn:hover {
  background: rgb(21, 114, 2);
  color: #fff;
}
.alert {
  width: 220px;
}
small {
  margin-left: -195px;
}
i {
  color: red;
  font-size: 8px;
}
