
/* body{
    background-image: url("/assets/Images/train.webp");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 30px !important;
    margin-top: -23px;
    height: 92vh;
}
.book
{
    background: #ffff;
    width: 300px;
    height: 450px;
    margin-left: 80px;
    box-shadow: 2px 2px 2px gray;
}
#b{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    margin-left: 90px;
}
#t{
    font-size: 17px;
    margin-left: 95px;
}
.fa-train{
    margin-left: 140px;
}
.textbox{
    
    margin-left: 23px;
}
#from,#to,#date{
    width: 250px;
    height: 33px;
}
#arrow{
    margin-left: 140px;
}
#arrow i{
    color: blue;
}
#select{
    width: 250px;
    height: 33px;
    margin-left: 23px;
} */