<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
       
        <div id="description">
            <p id="para">
                Please Donate Medicine If No need,
                It Will Help Someone Who Need it.</p>
                <p id="para1">Wastage is better than utilization</p>
            
        </div>
        <div id="vision">
            <h1 id="hv">Our Vision</h1>
            <p id="pv">
                Reduce the wastage of medicine, And inspire the people to their healtheir life.
            </p>
        </div>
        <div id="charity">
            <h1 id="hc">Charity</h1>
            <p id="pc">
                You have not lived today until you have done somethimg for someone who can </p>  
                <p id="pc1">never repay you.</p>
                 
            <br/>
        </div>
    </body>
</html>